@media (max-width: 1080px) {
    .mainn {
      padding: 1.2rem;
    }
  
    .leftside .probar-head {
      font-size: 2.5rem;
    }
  
    .middle .probar-img {
      width: 12rem;
    }
  
    .rightside {
      height: 1.5rem;
    }
  
    .rightside img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  
  /* For screens 768px and below */
  @media (min-width: 481px) and (max-width: 768px) {
    .mainn {
      flex-direction: row;
      align-items: center;
      padding: 4vw;
    }
    .leftside{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: start;
    }
    .leftside .probar-desc{
        width: 90%;
        font-size: 4vw;
        line-height: 4vw;
    }
    /*  */
  
    .leftside .probar-head {
      font-size: 8vw;
      margin-bottom: 10vw;
    }
    .probar-head:nth-child(2){
        display: none;
    }
    
    .mainn:hover .probar-head {
        transform: translateY(50%);
    }
  
    .middle .probar-img {
      width: 60vw;
    }
  
    .rightside {
      height: 1.25rem;
      padding-bottom: 10vw;
    }
    .read-probar-more:nth-child(2){
        display: none;
    }
  
    .rightside img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  
  /* For screens 480px and below */
  @media (max-width: 480px) {
    .mainn {
      flex-direction: column;
      align-items: center;
      padding: 4vw;
    }
    .leftside{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .leftside .probar-desc{
        width: 80%;
        font-size: 5vw;
        line-height: 1.3rem;
    }
  
    .leftside .probar-head {
      font-size: 8vw;
    }
    .probar-head:nth-child(2){
        display: none;
    }
    
    .mainn:hover .probar-head {
        transform: translateY(50%);
    }
  
    .middle .probar-img {
      width: 60vw;
    }
  
    .rightside {
      height: 1.25rem;
      padding-bottom: 10vw;
    }
    .read-probar-more:nth-child(2){
        display: none;
    }
  
    .rightside img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }